<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a class="brand-link" href="/">
<!--        <img alt="고필드 관리자" class="brand-image elevation-3"-->
<!--             th:src="@{/dist/img/logo.png}"-->
<!--             style="opacity: .8">-->
        <i class="fas fa-tag">
            고필드 관리자
        </i>
<!--        <span class="brand-text font-weight-light">   ㅈ️</span>-->
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">

            <ul class="nav nav-pills nav-sidebar flex-column" data-accordion="false" data-widget="treeview" role="menu">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->

                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <i class="nav-icon fa fa-chart-bar"></i>
                        <p>대시보드</p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a class="nav-link" href="/admin">
                        <i class="nav-icon fa fa-user-secret"></i>
                            <p>운영자 관리</p>
                        </i>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a class="nav-link" href="/user">
                        <i class="nav-icon fa fa-child"></i>
                            <p>사용자 관리</p>
                        </i>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a class="nav-link" href="/brand">
                        <i class="nav-icon fa fa-cubes"></i>
                        <p>브랜드 관리</p>
                        </i>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a class="nav-link" href="/category">
                        <i class="nav-icon fa fa-list"></i>
                        <p>카테고리 관리</p>
                        </i>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a class="nav-link" href="/bundle">
                        <i class="nav-icon fa fa-trophy"></i>
                        <p>묶음 상품 관리</p>
                        </i>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a class="nav-link" href="/item">
                        <i class="nav-icon fa fa-wrench"></i>
                        <p>상품 관리</p>
                        </i>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a class="nav-link" href="/order/list">
                        <i class="nav-icon fa fa-cart-plus"></i>
                        <p>주문 관리</p>
                        </i>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a class="nav-link" href="/order/cancel/list">
                        <i class="nav-icon fa fa-minus-circle"></i>
                        <p>취소 관리</p>
                        </i>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a class="nav-link" href="/order/reply/list">
                        <i class="nav-icon fa fa-cart-plus"></i>
                        <p>반품 관리</p>
                        </i>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a class="nav-link" href="/order/exchange/list">
                        <i class="nav-icon fa fa-retweet"></i>
                        <p>교환 관리</p>
                        </i>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a class="nav-link" href="/qna/list">
                        <i class="nav-icon fa fa-envelope"></i>
                        <p>문의 관리</p>
                        </i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
