<!DOCTYPE html>
<html layout:decorate="~{shared/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>묶음상품 수정</title>
</head>
<body>

<div layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>묶음상품 수정</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">General Form</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">묶음상품 정보</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form" method="post" th:action="@{/bundle/edit}" th:object="${bundle}" enctype="multipart/form-data">
                            <input th:field="*{id}" type="hidden"/>
                            <input th:id="images" th:name="images" th:field="*{images}" type="hidden"/>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="name">묶음상품명</label>
                                    <input class="form-control" id="name" placeholder="묶음상품명"
                                           type="text" th:field="*{name}">
                                </div>
                                <div class="form-group">
                                    <label>브랜드</label>
                                    <select th:field="*{brandId}"  class="form-control select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                            <option th:each="data : ${bundle.brandList}" th:value="${data.id}" th:text="${data.name}"></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>카테고리</label>
                                    <select th:field="*{categoryId}" class="form-control select2bs4 select2-hidden-accessible" style="width: 100%;" data-select2-id="17" tabindex="-1" aria-hidden="true">
                                        <option th:each="data : ${bundle.categoryList}" th:value="${data.id}" th:text="${data.name}"></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>추천상품여부</label>
                                    <select th:field="*{isRecommend}" class="form-control select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                        <option th:value="'false'" th:text="비활성"></option>
                                        <option th:value="'true'" th:text="활성"></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>대표이미지</label>
                                    <br>
                                    <img id="imgId" th:src="${bundle.thumbnail}" alt="대표이미지" th:if="${bundle.thumbnail != null}" />
                                </div>

                                <div class="form-group">
                                    <label>묶음 상품 이미지</label>
                                    <br>
                                    <div th:each="data : ${bundle.images}">
                                        <img th:src="${data.image}" alt="묶음상품 이미지" th:if="${data.image != null}" />
                                        <a class="btn btn-danger btn-sm" th:href="${'/bundle/'+ bundle.id +'/image/delete/'+data.id}">
                                            <i class="fas fa-trash">
                                            </i>
                                            삭제
                                        </a>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>대표이미지 업로드</label>
                                    <br>
                                    <input type="file" name="image" />
                                </div>
                                <div class="form-group">
                                    <label>묶음 상품 이미지 업로드(다중 선택 가능)</label>
                                    <br>
                                    <input type="file" name="images" multiple/>
                                </div>

                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button class="btn btn-primary" type="submit">수정</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>


</div>

<th:block layout:fragment="script">
    <script>
        console.log("Add User");
    </script>
</th:block>

</body>
</html>
