<!DOCTYPE html>
<html layout:decorate="~{shared/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>묶음상품 리스트</title>
</head>
<body>


<div layout:fragment="content">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>묶음 상품 관리</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">묶음 상품 리스트</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
<!--                            <h3 class="card-title">Bordered Table></h3>-->
                            <div class="row">
                                <div class="col-md-8 offset-md-2">
                                    <form th:action="@{/bundle}" id="searchForm">
                                        <div class="input-group">
                                            <input type="keyword" name="keyword" class="form-control form-control-lg" placeholder="검색어를 입력하세요.">
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-lg btn-default">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <a class="btn btn-app float-right"  href="/bundle/add">
                                    <i class="fas fa-edit"></i> 묶음 상품 추가
                                </a>
                                <a class="btn btn-app float-right"  th:if="${keyword == null || keyword == ''}" th:href="${'/excel/bundle'}"><i class="fas fa-edit"></i> 엑셀 다운</a>
                                <a class="btn btn-app float-right"  th:if="${keyword != null}" th:href="${'/excel/bundle?keyword='+keyword}"><i class="fas fa-edit"></i> 엑셀 다운</a>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered table-hover dataTable dtr-inline" aria-describedby="example2_info">
                                <tr>
                                    <th class="text-center">id</th>
                                    <th class="text-center">묶음상품명</th>
                                    <th class="text-center">브랜드명</th>
                                    <th class="text-center">카테고리명</th>
                                    <th class="text-center">대표이미지</th>
                                    <th class="text-center">생성날짜</th>
                                    <th class="text-center">작업</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="data : ${list}">
                                    <td class="text-center" th:text="${data.id}"></td>
                                    <td class="text-center" th:text="${data.name}"></td>
                                    <td class="text-center" th:text="${data.brandName}"></td>
                                    <td class="text-center" th:text="${data.categoryName}"></td>
                                    <td>
                                        <div style="text-align: center">
                                        <img th:src="${data.thumbnail}" alt="묶음상품 이미지" th:if="${data.thumbnail != null}" />
                                        </div>
                                    </td>
                                    <td class="text-center" th:text="${data.createDate}"></td>
                                    <td>
                                        <div style="text-align: center">
                                        <a class="btn btn-info btn-sm" th:href="${'/bundle/edit/'+data.id}" onclick="return confirm('수정하시겠습니까?');">
                                            <i class="fas fa-pencil-alt">
                                            </i>
                                            수정
                                        </a>
                                        <a class="btn btn-danger btn-sm" th:href="${'/bundle/delete/'+data.id}" onclick="return confirm('삭제하시겠습니까?');">
                                            <i class="fas fa-trash">
                                            </i>
                                            삭제
                                        </a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div th:unless="${list.size() > 0}">
                            <p class="text-center">조회되는 데이터가 없습니다.</p>
                        </div>
                        <nav aria-label="Pagination" th:if="${totalPages > 0}">
                            <ul class="pagination justify-content-center">
                                <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                                    <a th:replace="fragments/bundlePaging :: paging(1, '<<', 'First Page')"></a>
                                </li>
                                <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
                                    <a th:replace="fragments/bundlePaging :: paging(${currentPage - 1}, 'Prev', 'Previous Page')"></a>
                                </li>
                                <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
                                    <a class="page-link" href="#">...</a>
                                </li>
                                <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
                                    th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
                                    <a th:replace="fragments/bundlePaging :: paging(${page}, ${page}, 'Page ' + ${page})"></a>
                                </li>
                                <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
                                    <a class="page-link" href="#">...</a>
                                </li>
                                <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
                                    <a th:replace="fragments/bundlePaging :: paging(${currentPage + 1},'Next', 'Next Page')"></a>
                                </li>
                                <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                                    <a th:replace="fragments/bundlePaging :: paging(${totalPages}, '>>', 'Last Page')"></a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
    <!-- Main content -->
</div>


<th:block layout:fragment="script">
    <script>
        console.log("Add User");
    </script>
</th:block>
<script>


</body>
</html>
