<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar" th:fragment="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li class="active treeview">
            <a href="#">
                <i class="fa fa-dashboard"></i> <span>대시보드</span>
            </a>
        </li>
        <li class="treeview">
            <a href="admin">
                <i class="	fa fa-group"></i>
                <span>운영자 계정 관리</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <a href="dashboard">
                <i class="fa fa-child"></i>
                <span>사용자 관리</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <a href="dashboard">
                <i class="fa fa-cart-plus"></i>
                <span>주문 관리</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <a href="dashboard">
                <i class="fa 품"></i>
                <span>취소 관리</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <a href="dashboard">
                <i class="fa fa-mail-reply"></i>
                <span>반품 관리</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <a href="dashboard">
                <i class="fa fa-retweet"></i>
                <span>교환 관리</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <a href="dashboard">
                <i class="fa fa-truck"></i>
                <span>배송 관리</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <a href="dashboard">
                <i class="fa fa-envelope"></i>
                <span>문의 관리</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
<!--            <ul class="treeview-menu">-->
<!--                <li><a href="/customers/add"><i class="fa fa-circle-o"></i> Add Customers</a></li>-->
<!--            </ul>-->
<!--            <ul class="treeview-menu">-->
<!--                <li><a href="/customers"><i class="fa fa-circle-o"></i> List Customers</a></li>-->
<!--            </ul>-->
<!--            <ul class="treeview-menu">-->
<!--                <li><a href="/users"><i class="fa fa-circle-o"></i> List Users</a></li>-->
<!--            </ul>-->
        </li>
    </ul>
</section>
<!-- /.sidebar -->