<!DOCTYPE html>
<html layout:decorate="~{shared/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 리스트</title>
</head>
<body>



<div layout:fragment="content">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>상품 관리</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">상품 리스트</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <a href="/item" class="nav-link" th:text="${'전체('+allCount}+')'"></a>
                <a href="/item?status=SALE" class="nav-link" th:text="${'판매중('+salesCount}+')'"></a>
                <a href="/item?status=SOLD_OUT" class="nav-link" th:text="${'품절('+soldOutCount}+')'"></a>
                <a href="/item?status=HIDE" class="nav-link" th:text="${'숨김('+hideCount}+')'"></a>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-8 offset-md-2">
                                    <form th:action="@{/item}" id="searchForm">
                                        <div class="input-group">
                                            <input type="keyword" name="keyword" class="form-control form-control-lg" placeholder="검색어를 입력하세요.">
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-lg btn-default">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <a class="btn btn-app float-right"  href="/item/add/new">
                                    <i class="fas fa-edit"></i> 새상품 추가
                                </a>
                                <a class="btn btn-app float-right"  href="/item/add/used">
                                    <i class="fas fa-edit"></i> 중고 상품 추가
                                </a>
                                <div th:switch="true">
                                    <a class="btn btn-app float-right"  th:case="${keyword == null && status == null}" th:href="${'/excel/item'}"><i class="fas fa-save"></i>엑셀 다운</a>
                                    <a class="btn btn-app float-right"  th:case="${keyword != null && status != null}" th:href="${'/excel/item?keyword='+keyword+'&status='+status}"><i class="fas fa-save"></i>엑셀 다운</a>
                                    <a class="btn btn-app float-right"  th:case="${keyword != null && status == null}" th:href="${'/excel/item?keyword='+keyword}"><i class="fas fa-save"></i>엑셀 다운</a>
                                    <a class="btn btn-app float-right"  th:case="${status != null && keyword == null}" th:href="${'/excel/item?status='+status}"><i class="fas fa-save"></i>엑셀 다운</a>
                                </div>
                               </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
<!--                            <h5 class="float-md-none" style="color: lightskyblue" th:text="${totalItems} +'개 검색됨' "></h5>-->
                            <table class="table table-bordered table-hover dataTable dtr-inline" aria-describedby="example2_info">
                                <tr>
                                    <th class="text-center">id</th>
                                    <th class="text-center">상품분류</th>
                                    <th class="text-center">상품명</th>
                                    <th class="text-center">판매가</th>
                                    <th class="text-center">카테고리</th>
                                    <th class="text-center">대표이미지</th>
                                    <th class="text-center">상태</th>
                                    <th class="text-center">작업</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="data : ${list}">
                                    <td class="text-center" th:text="${data.id}"></td>
                                    <td class="text-center" th:text="${data.classification}"></td>
                                    <td class="text-center" th:text="${data.name}"></td>
                                    <td class="text-center" th:text="${data.price}"></td>
                                    <td class="text-center" th:text="${data.categoryName}"></td>
                                    <td>
                                        <div style="text-align: center">
                                            <img th:src="${data.thumbnail}" alt="묶음상품 이미지" th:if="${data.thumbnail != null}" />
                                        </div>
                                    </td>
                                    <td style="color: orangered" class="text-center" th:text="${data.status}"></td>
                                    <td>
                                        <div style="text-align: center">
                                        <a th:if="${data.classification.equals('중고상품')}" class="btn btn-info btn-sm" th:href="${'/item/used/edit/'+data.id}">
                                            <i class="fas fa-pencil-alt">
                                            </i>
                                            수정
                                        </a>
                                            <a th:if="${data.classification.equals('새상품')}" class="btn btn-info btn-sm" th:href="${'/item/new/edit/'+data.id}">
                                                <i class="fas fa-pencil-alt">
                                                </i>
                                                수정
                                            </a>
                                        <a class="btn btn-danger btn-sm" th:href="${'/item/delete/'+data.id}">
                                            <i class="fas fa-trash">
                                            </i>
                                            삭제
                                        </a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div th:unless="${list.size() > 0}">
                            <p class="text-center">조회되는 데이터가 없습니다.</p>
                        </div>
                        <nav aria-label="Pagination" th:if="${totalPages > 0}">
                            <ul class="pagination justify-content-center">
                                <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                                    <a th:replace="fragments/itemPaging :: paging(1, '<<', 'First Page')"></a>
                                </li>
                                <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
                                    <a th:replace="fragments/itemPaging :: paging(${currentPage - 1}, 'Prev', 'Previous Page')"></a>
                                </li>
                                <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
                                    <a class="page-link" href="#">...</a>
                                </li>
                                <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
                                    th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
                                    <a th:replace="fragments/itemPaging :: paging(${page}, ${page}, 'Page ' + ${page})"></a>
                                </li>
                                <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
                                    <a class="page-link" href="#">...</a>
                                </li>
                                <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
                                    <a th:replace="fragments/itemPaging :: paging(${currentPage + 1},'Next', 'Next Page')"></a>
                                </li>
                                <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                                    <a th:replace="fragments/itemPaging :: paging(${totalPages}, '>>', 'Last Page')"></a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
    <input type="hidden" th:if="${status == null || status == ''}" th:value="null">
    <input type="hidden" th:if="${status != null || status != ''}" th:value="${status}">
    <!-- Main content -->


</div>


<th:block layout:fragment="script">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {


        });
    </script>
</th:block>

</body>
</html>
