<!DOCTYPE html>
<html layout:decorate="~{shared/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>교환 리스트</title>
</head>
<body>

<div layout:fragment="content">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>교환 관리</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">교환 리스트</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <a href="/change" class="nav-link" th:text="${'전체('+allCount}+')'"></a>
                <a href="/change?status=ORDER_CHANGE_REQUEST" class="nav-link" th:text="${'교환요청('+receiptCount}+')'"></a>
                <a href="/change?status=ORDER_CHANGE_COLLECT_PROCESS" class="nav-link" th:text="${'수거중('+collectCount}+')'"></a>
                <a href="/change?status=ORDER_CHANGE_COLLECT_PROCESS_COMPLETE" class="nav-link" th:text="${'수거완료('+collectCompleteCount}+')'"></a>
                <a href="/change?status=ORDER_CHANGE_REDELIVERY" class="nav-link" th:text="${'재배송('+reDeliveryCount}+')'"></a>
                <a href="/change?status=ORDER_CHANGE_DENIED" class="nav-link" th:text="${'교환처리실패('+refuseCount}+')'"></a>
                <a href="/change?status=ORDER_CHANGE_COMPLETE" class="nav-link" th:text="${'교환완료('+completeCount}+')'"></a>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-8 offset-md-2">
                                    <form th:action="@{/change}" id="searchForm">
                                        <div class="input-group">
                                            <input type="keyword" name="keyword" class="form-control form-control-lg" placeholder="검색어를 입력하세요.">
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-lg btn-default">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div th:switch="true">
                                    <a class="btn btn-app float-right" style="color: cornflowerblue" th:case="${keyword == null && status == null}" th:href="${'/excel/change'}"><i class="fas fa-save"></i>교환내역 다운</a>
                                    <a class="btn btn-app float-right" style="color: cornflowerblue" th:case="${keyword != null && status != null}" th:href="${'/excel/change?keyword='+keyword+'&status='+status}"><i class="fas fa-save"></i>교환내역 다운</a>
                                    <a class="btn btn-app float-right" style="color: cornflowerblue" th:case="${keyword != null && status == null}" th:href="${'/excel/change?keyword='+keyword}"><i class="fas fa-save"></i>교환내역 다운</a>
                                    <a class="btn btn-app float-right" style="color: cornflowerblue" th:case="${status != null && keyword == null}" th:href="${'/excel/change?status='+status}"><i class="fas fa-save"></i>교환내역 다운</a>
                                </div>
                               </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
<!--                            <h5 class="float-md-none" style="color: lightskyblue" th:text="${totalItems} +'개 검색됨' "></h5>-->
                            <table class="table table-bordered table-hover dataTable dtr-inline" aria-describedby="example2_info">
                                <tr>
                                    <th class="text-center">id</th>
                                    <th class="text-center">주문번호/시각</th>
                                    <th class="text-center">주문상품</th>
                                    <th class="text-center">수량</th>
                                    <th class="text-center">상품금액</th>
                                    <th class="text-center">교환요청일</th>
                                    <th class="text-center">배송정보</th>
                                    <th class="text-center">상태</th>
                                    <th class="text-center">작업</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="data : ${list}">
                                    <td class="text-center" th:text="${data.id}"></td>
                                    <td>
                                        <div class="text-center" th:text="${data.orderNumber}">
                                        </div>
                                        <div class="text-center" th:text="${data.cancelDate}">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center" th:text="${data.name}">
                                        </div>
                                        <div class="text-center" th:text="${data.optionName}">
                                        </div>
                                    </td>
                                    <td class="text-center" th:text="${data.qty}"></td>
                                    <td class="text-center" th:text="${data.price}"></td>

                                    <td>
                                        <div class="text-center" th:text="${data.cancelDate}"></div>
                                        <div style="color: orange" class="text-center" th:text="${'교환사유: '+data.reason.getDescription()}">
                                        </div>
                                        <div style="color: darkorange" class="text-center" th:text="${'사유내용: '+data.comment}">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center" th:text="${data.customerName + '/ ' + data.customerTel + '/ '+ data.zipCode}">
                                        </div>
                                        <div class="text-center" th:text="${data.address + ' ' + data.addressExtra}">
                                        </div>
                                    </td>
                                    <td style="color: orangered" class="text-center" th:text="${data.status}"></td>
                                    <td>
                                        <div style="text-align: center">
                                        <a class="btn btn-info btn-sm" th:if="${ data.status.equals('교환신청') }" th:href="${'/order/change/'+data.id+'?status=ORDER_CHANGE_COLLECT_PROCESS'}">
                                            <i class="fas fa-pencil-alt">
                                            </i>
                                            수거지시
                                        </a>
                                        <a class="btn btn-info btn-sm" th:if="${ data.status.equals('수거중') }" th:href="${'/order/change/'+data.id+'?status=ORDER_CHANGE_COLLECT_PROCESS_COMPLETE'}">
                                            <i class="fas fa-inbox">
                                            </i>
                                            교환수거완료
                                        </a>
                                        <a class="btn btn-info btn-sm" th:if="${ data.status.equals('수거완료') }" th:href="${'/order/change/'+data.id+'?status=ORDER_CHANGE_REDELIVERY'}">
                                            <i class="fas fa-inbox">
                                            </i>
                                            교환재발송
                                        </a>
                                        <a class="btn btn-info btn-sm" th:if="${ data.status.equals('교환신청') }" th:href="${'/order/change/'+data.id+'?status=ORDER_CHANGE_DENIED'}">
                                            <i class="fas fa-inbox">
                                            </i>
                                            교환거부
                                        </a>
                                        <a class="btn btn-info btn-sm" th:if="${data.status.equals('재배송')  }" th:href="${'/order/change/'+data.id+'?status=ORDER_CHANGE_COMPLETE'}">
                                            <i class="fas fa-inbox">
                                            </i>
                                            교환확인완료
                                        </a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div th:unless="${list.size() > 0}">
                            <p class="text-center">조회되는 데이터가 없습니다.</p>
                        </div>
                        <nav aria-label="Pagination" th:if="${totalPages > 0}">
                            <ul class="pagination justify-content-center">
                                <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                                    <a th:replace="fragments/cancelPaging :: paging(1, '<<', 'First Page')"></a>
                                </li>
                                <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
                                    <a th:replace="fragments/cancelPaging :: paging(${currentPage - 1}, 'Prev', 'Previous Page')"></a>
                                </li>
                                <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
                                    <a class="page-link" href="#">...</a>
                                </li>
                                <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
                                    th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
                                    <a th:replace="fragments/cancelPaging :: paging(${page}, ${page}, 'Page ' + ${page})"></a>
                                </li>
                                <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
                                    <a class="page-link" href="#">...</a>
                                </li>
                                <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
                                    <a th:replace="fragments/cancelPaging :: paging(${currentPage + 1},'Next', 'Next Page')"></a>
                                </li>
                                <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                                    <a th:replace="fragments/cancelPaging :: paging(${totalPages}, '>>', 'Last Page')"></a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
    <input type="hidden" th:if="${status == null || status == ''}" th:value="null">
    <input type="hidden" th:if="${status != null || status != ''}" th:value="${status}">
</div>


<th:block layout:fragment="script">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {


        });
    </script>
</th:block>

</body>
</html>
